nav {
    width: 100%;
    min-height: 64px;
    height: auto;

    max-width: 1200px;

    margin: 0 auto;
    padding: 0px 3%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--bg-light);
}

nav div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3%;
}

nav div a {
    padding: 10px 1%;
    border-radius: 10px;
    background-color: var(--bg-light);
    box-sizing: border-box;
}

nav div a:hover {
    background: var(--bg-hover);
}
