body {
    font-family: system-ui, sans-serif;
    color: var(--text-primary);
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    line-height: 51px;
    font-weight: 700;
}

h2 {
    font-size: 44px;
    line-height: 60px;
    font-weight: 800;
}
p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

label,
legend {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}
